{% extends "base.html" %}

{% block title %}{{ day.title }}{% endblock %}

{% block content %}
<a href="{{ url_for('calendar.index') }}">&larr; Back</a>

{% if locked %}
  <h1>{{ day.title }}</h1>
  <p>This day unlocks at {{ day.unlock_at.strftime('%Y-%m-%d %H:%M %Z') }}.</p>
{% else %}
  <h1>{{ day.title }}</h1>
  <div class="pair">
    <img class="photo" src="{{ url_for('static', filename='images/' + day.photo) }}" alt="{{ day.title }} photo">
    <img class="note" src="{{ url_for('static', filename='images/' + day.note) }}" alt="{{ day.title }} note">
  </div>
{% endif %}
{% endblock %}
